In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('news_sentiment_data.csv', dtype='string')

In [4]:
del df['Unnamed: 0']

In [6]:
df.Date = pd.to_datetime(df.Date)

In [8]:
df.Tone = df.Tone.astype(float)
df.sentiment_embedding = df.sentiment_embedding.astype(float)

In [18]:
df

      Ticker       Date      Tone  sentiment_embedding
0       AAPL 2020-03-09  0.666667             0.995251
1       AAPL 2020-03-10  0.000000             0.724631
2       AAPL 2020-03-11  0.000000             0.308984
3       AAPL 2020-03-12 -0.200000             0.284172
4       AAPL 2020-03-13  0.000000             0.097359
...      ...        ...       ...                  ...
70867    XOM 2020-05-30  0.000000             0.969918
70868    XOM 2020-06-01 -1.000000            -1.000000
70869    XOM 2020-06-02  1.000000             1.000000
70870    XOM 2020-06-03  0.500000             0.119151
70871    XOM 2020-06-04  0.000000            -0.790955

[70872 rows x 4 columns]

In [11]:
df.Date.min(), df.Date.max()

(Timestamp('2009-06-22 00:00:00'), Timestamp('2020-06-04 00:00:00'))

In [14]:
df.Ticker.unique().__len__()

84

In [15]:
df.Ticker.unique()

<StringArray>
[ 'AAPL',  'ABBV',   'ACN',  'ADBE',   'AIG',   'AMD',  'AMGN',   'AMT',
  'AMZN',  'AVGO',   'AXP',   'BAC',    'BK',   'BLK',   'BMY', 'BRK.B',
     'C',   'CAT',  'CHTR',    'CL', 'CMCSA',   'COF',   'COP',   'CRM',
  'CSCO',   'CVS',    'DE',   'DHR',   'DIS',   'DOW',   'DUK',   'EMR',
     'F',   'FDX',    'GD',  'GILD',  'GOOG', 'GOOGL',    'HD',   'IBM',
  'INTC',  'INTU',   'JNJ',   'JPM',    'KO',   'LLY',   'LMT',   'LOW',
    'MA',   'MCD',  'MDLZ',   'MDT',   'MET',   'MMM',    'MO',   'MRK',
    'MS',   'NEE',  'NFLX',  'NVDA',  'ORCL',   'PEP',   'PFE',    'PG',
  'QCOM',  'SBUX',  'SCHW',    'SO',   'SPG',     'T',   'TGT',   'TMO',
  'TMUS',  'TSLA',   'TXN',   'UNH',   'UNP',   'UPS',   'USB',     'V',
    'VZ',   'WFC',   'WMT',   'XOM']
Length: 84, dtype: string

In [17]:
df[df.Ticker == 'AAPL']

   Ticker       Date      Tone  sentiment_embedding
0    AAPL 2020-03-09  0.666667             0.995251
1    AAPL 2020-03-10  0.000000             0.724631
2    AAPL 2020-03-11  0.000000             0.308984
3    AAPL 2020-03-12 -0.200000             0.284172
4    AAPL 2020-03-13  0.000000             0.097359
..    ...        ...       ...                  ...
74   AAPL 2020-05-29  0.500000             0.757384
75   AAPL 2020-05-30  0.166667             0.393480
76   AAPL 2020-05-31  0.000000            -0.196047
77   AAPL 2020-06-01  0.111111             0.099842
78   AAPL 2020-06-02  0.222222             0.459781

[79 rows x 4 columns]

In [27]:
df[pd.isnull(df.Ticker)]

Empty DataFrame
Columns: [Ticker, Date, Tone, sentiment_embedding]
Index: []

In [19]:
news_df = df

In [22]:
min_date = news_df.Date.min()
max_date = news_df.Date.max()
date_range = pd.date_range(min_date, max_date, freq='D')

In [28]:
full_df = pd.DataFrame({'date': list(date_range)}).merge(pd.DataFrame({'ticker': list(news_df.Ticker.unique())}), how='cross')
full_df['sentiment_score'] = 0.0
for ticker in news_df.Ticker.unique():
    ticker_df = news_df[news_df.Ticker == ticker]
    ticker_df.index = pd.DatetimeIndex(ticker_df.Date)
    ticker_df = ticker_df.reindex(date_range)
    full_df.loc[full_df.TICKERH == ticker, 'sentiment_embedding'] = ticker_df.Tone.values

AttributeError: 'DataFrame' object has no attribute 'TICKERH'

In [25]:
ticker_df.reindex(date_range)

           Ticker       Date      Tone  sentiment_embedding
2009-06-22   <NA>        NaT       NaN                  NaN
2009-06-23   <NA>        NaT       NaN                  NaN
2009-06-24   <NA>        NaT       NaN                  NaN
2009-06-25   <NA>        NaT       NaN                  NaN
2009-06-26   <NA>        NaT       NaN                  NaN
...           ...        ...       ...                  ...
2020-05-31   AAPL 2020-05-31  0.000000            -0.196047
2020-06-01   AAPL 2020-06-01  0.111111             0.099842
2020-06-02   AAPL 2020-06-02  0.222222             0.459781
2020-06-03   <NA>        NaT       NaN                  NaN
2020-06-04   <NA>        NaT       NaN                  NaN

[4001 rows x 4 columns]